################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ProcessTendors/ProcessTendors.WebUI/bin/Debug/net10.0
/src/ProcessTendors/ProcessTendors.WebUI/obj/Debug/net10.0
/src/ProcessTendors/ProcessTendors.WebUI/obj
/src/ProcessTendors/.vs/ProcessTendors.slnx/DesignTimeBuild
/src/ProcessTendors/.vs/ProcessTendors.slnx/FileContentIndex
/src/ProcessTendors/.vs/ProcessTendors.slnx/v18/.futdcache.v2
/src/ProcessTendors/.vs/ProcessTendors.slnx/v18/.suo
/src/ProcessTendors/.vs/ProcessTendors.slnx/v18/DocumentLayout.backup.json
/src/ProcessTendors/.vs/ProcessTendors.slnx/v18/DocumentLayout.json
/src/ProcessTendors/ProcessTendors.Application/bin/Debug/net10.0
/src/ProcessTendors/ProcessTendors.Application/obj/Debug/net10.0/ref
/src/ProcessTendors/ProcessTendors.Application/obj/Debug/net10.0/refint
/src/ProcessTendors/ProcessTendors.Application/obj
/src/ProcessTendors/ProcessTendors.Domain/bin/Debug/net10.0
/src/ProcessTendors/ProcessTendors.Domain/obj
/src/ProcessTendors/ProcessTendors.Infrastructure/bin/Debug/net10.0
/src/ProcessTendors/ProcessTendors.Infrastructure/obj
/src/ProcessTendors/.vs/ProjectEvaluation
